:root {
	--light-pink: #fbf9f8;
	--dark-pink: #e4d4c9;
	--black: #090c08;
	--white: #fbf9f8;
	--dark-green: #4e6e58;
	--light-purple: #dbc9e4;
	--light-blue: #c9d7e4;
	--light-green: #d8e4c9;
	--max-width: 1420px;
	--border-radius: 5em;
	--border-radius-sm: 1em;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
}
a {
	text-decoration: none;
	color: var(--black);
}

body {
	background-color: var(--light-pink);
	color: var(--black);
	overflow-x: hidden;
}

nav {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: var(--max-width);
	padding: 1.8em 4em;
	width: 100%;
}
nav ul li a {
	font-family: 'Noto Serif', serif;
}
.navbar-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.links-container ul {
	display: flex;
	list-style: none;
}
.links-container ul li {
	padding: 0 0.8em;
}
.logo {
	font-family: 'Noto Serif', serif;
}
.signup-btn {
	padding: 0.5em 1em;
	background-color: var(--dark-pink);
	border-radius: var(--border-radius);
	font-family: 'Noto Serif', serif;
}
.signup-btn:hover {
}
.signin-btn {
	padding: 0.5em 1em;
	border: 2px solid var(--dark-pink);
	border-radius: var(--border-radius);
}
.signin-btn:hover {
}

/* REUSED STYLES */
#hero-section,
#category-section,
#about-hero-section,
#mission-section,
#team-section,
#form-section,
#section {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 6em 0;
	/* background-color: red; */
}
#hero-container,
#category-container,
#about-hero-container,
#mission-container,
#team-container,
#form-container,
.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 960px;
	max-width: var(--max-width);
}
ul {
	list-style: none;
}
h1 {
	font-size: 3.4rem;
	text-align: center;
	letter-spacing: 0.1em;
	padding-bottom: 0.2em;
	font-family: 'Noto Serif', serif;
	/* width: 88%; */
}
h2 {
	font-size: 2.4em;
	font-family: 'Noto Serif', serif;
	padding-bottom: 0.2em;
	margin-bottom: 1.4em;
}
h3 {
	font-size: 1.7rem;
	font-weight: 300;
	text-align: center;
	width: 90%;
}
h4 {
	padding-bottom: 0.8em;
	font-family: 'Noto Serif', serif;
	font-size: 1.4rem;
	font-weight: 300;
}

/* HERO SECTION */

#search-bar {
	margin-top: 2em;
	width: 100%;
	display: flex;
}
#search-btn {
	padding: 1.4em 2em;
	background-color: var(--dark-green);
	border: none;
	border-radius: 0 var(--border-radius) var(--border-radius)
		var(--border-radius);
	font-family: 'Noto Serif', serif;
	color: var(--white);
	font-size: 1em;
	font-weight: 600;
	margin-left: 0.5em;
}
input[type='text'] {
	width: 100%;
	font-family: 'Noto Serif', serif;
	font-size: 1em;
	font-weight: 400;
	padding: 1.4em 2em;
	background-color: var(--dark-pink);
	border: none;
	border-radius: var(--border-radius) 0 var(--border-radius)
		var(--border-radius);
}
textarea:focus,
input:focus,
textarea:focus {
	outline: none;
	background-color: var(--light-pink);
	border: 2px solid var(--dark-pink);
}

/* CATEGORY STYLES */
#category-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.category-card {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-green);
	padding: 2em;
	border-radius: var(--border-radius-sm);
	color: var(--white);
	font-weight: 600;
	margin: 0.8em 2em;
	width: 200px;
	height: 120px;
	max-width: 200px;
	text-align: center;
	cursor: pointer;
}

/* FOOTER */
#section {
	background-color: var(--dark-green);
	color: var(--white);
	padding: 3em;
}
.container {
	justify-content: space-between;
	flex-direction: row;
	align-content: center;
	max-width: var(--max-width);
	width: var(--max-width);
}
#branding h2 {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
#branding p {
	width: 68%;
}
#links-section-container {
	display: flex;
	flex-direction: row;
}
.footer-links {
	padding: 0 1em;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
}
.footer-link a {
	color: var(--white);
}
.footer-links li {
	padding-bottom: 0.4em;
}
#copyright {
	text-align: center;
	margin: auto 0;
	background-color: purple;
	color: var(--white);
}
/* -------ABOUT PAGE-------- */
#down-arrow {
	margin-top: 2em;
}

/* MISSION SECTION */
#mission-container {
	background-color: rgba(238, 223, 213, 0.5);
	padding: 2em;
}
#mission-container h3,
#team-container h3 {
	font-size: 1em;
}
/* TEAM SECTION */
#card-container,
#form-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* background-color: mediumslateblue; */
	max-width: 1560px;
	width: 100vw;
	padding: 0 2em;
}
#team-container h2 {
	margin: 0;
}
#team-container h3 {
	margin-bottom: 2em;
}
.team-card {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: var(--light-pink);
	border: 2px solid var(--dark-pink);
	padding: 1em;
	border-radius: var(--border-radius-sm);
	margin: 0.8em;
}
.profile-pic {
	background-image: url('img/profile.jpg');
	background-color: #cccccc;
	max-height: 60px;
	height: 52px;
	width: 52px;
	max-width: 60px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: var(--border-radius);
	margin-right: 0.8em;
}
.profile-content h4 {
	/* display: flex; */
	font-size: 1.1em;
	font-family: 'Noto Serif', serif;
}
.profile-content p {
	color: var(--dark-green);
	font-weight: 600;
}

/* FORM SECTION */
#form-section {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	/* background-color: orange; */
}
#form-container {
	/* background-color: purple; */
}
textarea {
	width: 100%;
	background-color: var(--dark-pink);
	border-radius: var(--border-radius-sm);
}
input {
	/* width: 100%;
	font-family: 'Noto Serif', serif;
	font-size: 1em;
	font-weight: 400;
	padding: 1.4em 2em;
	background-color: var(--dark-pink);
	border: none;
	border-radius: var(--border-radius) 0 var(--border-radius)
		var(--border-radius);
	background-color: orange; */
}
.contact-card {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	align-content: center;
	background-color: var(--dark-green);
	padding: 2em;
}
.contact-content {
	display: flex;
	flex-direction: row;
}
.contact-info-left {
	/* background-color: orange; */
}
.contact-info-right {
	/* background-color: purple; */
}
