:root {
	--light-pink: #fbf9f8;
	--dark-pink: #e4d4c9;
	--black: #090c08;
	--dark-green: #4e6e58;
	--light-purple: #dbc9e4;
	--light-blue: #c9d7e4;
	--light-green: #d8e4c9;
	--max-width: 1420px;
	--border-radius: 5em;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	/* overflow: hidden; */
}
a {
	text-decoration: none;
	color: var(--black);
}

body {
	background-color: var(--light-pink);
	color: var(--black);
	/* display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 1em;
	overflow: hidden; */
}

nav {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: var(--max-width);
	padding: 1.8em 4em;
	width: 100%;
	/* background-color: mediumpurple; */
}
#navbar-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#links-container ul {
	display: flex;
	list-style: none;
}
#links-container ul li {
	padding: 0 0.8em;
}
#signup-btn {
	padding: 0.5em 1em;
	background-color: var(--dark-pink);
	border-radius: var(--border-radius);
}
#signup-btn:hover {
}
#signin-btn {
	padding: 0.5em 1em;
	border: 2px solid var(--dark-pink);
	border-radius: var(--border-radius);
}
